.link {
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

.activeLink {
  color: rgb(248, 235, 52);
  /* border-bottom: 2px solid rgb(248, 252, 49); */
  border-radius: 1px;
}

.NavList {
  display: flex;
  list-style: none;
  padding: 0;
}

.NavItem {
  margin-right: 20px;
}
